:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
    text-decoration: underline;
}

h1 {
    margin-bottom: 1rem;
}

body {
    display: flex;
    min-width: 320px;
    height: 100vh;
    overflow: hidden;
}

#app {
    flex: 1 1 auto;
    max-width: 1280px;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    aside {
        flex: 0 0 25vw;
        height: 100vh;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.05);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        textarea {
            height: 50vh;
            font-size: 10px;
        }
    }

    main {
        padding: 0 0 1rem 0;
        overflow: auto;
        flex: 1 1 auto;
    }
}
